<div class="footer">
    <span>By <a href="https://myanimelist.net/profile/daux">daux</a>. <a href="https://github.com/daux-dev/mal-ptw-match">Source</a>. <a href="https://myanimelist.net/clubs.php?cid=13727">MAL API Club</a>.</span>
</div>
