<div class="footer">
    <span>Made by <a href="https://myanimelist.net/profile/daux">daux</a>. Check out the <a href="https://github.com/d-per/mal-ptw-match">source on Github</a>. Uses the <a href="https://myanimelist.net/clubs.php?cid=13727">MAL API</a>.</span>
</div>